@font-face {
  font-family: "Edu";
  src: url(../public/Fonts/EduVICWANTBeginner-VariableFont_wght.ttf);
}

.paper {
  background-image: url(../public/paper-texture.webp);
  background-repeat: repeat;
}

.paper-piece {
  background-image: url(../public/paper-piece.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.edu {
  font-family: "Edu";
}
